* {
    font-family: "Fira Sans Semibold", monospace;
    font-size: 14.5px;
    transition: none;
}

window#waybar {
    background: #181825;
    color: #cdd6f4;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    margin: 0;
    padding: 0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#language {
    padding: 0 6px;
    border-radius: 0;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#workspaces:hover,
#pulseaudio:hover {
    color: #89b4fa;
}

#workspaces button {
    background: transparent;
    font-size: 12px;
    color: #cdd6f4;
    border: none;
    padding: 0 5px;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: none;
    color: #89b4fa;
}

#workspaces button.active {
    color: #f5e0dc;
}

#clock {
    padding: 0 12px 0 6px;
}
