* {
  font-family: "Fira Sans Semibold", monospace;
  font-size: 14.5px;
  transition: none;
}

window#waybar {
  /*background: #282828;*/
  background:#1d2021;
  color: #ebdbb2;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  margin: 0;
  padding: 0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#language {
  padding: 0 6px;
  border-radius: 0;
  color: #ebdbb2;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#workspaces:hover,
#pulseaudio:hover {
    color: #83a598;
}

#workspaces button {
  background: transparent;
  font-size: 12px;
  color: #a89984;
  border: none;
  padding: 0 5px;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
  color: #83a598;
}

#workspaces button.active {
  color: #ebdbb2;
  /*border-bottom: 2px solid #83a598;
  border-radius: 0;*/
  /*color: #d3869b;*/
}

#clock {
  padding: 0 12px 0 6px;
}
